.entity
{
  margin-left: 2px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  height: 38px;
  background-color: pink;
}
.div1
{
  background-color: tomato;
}
.div2
{
  background-color: orange;
}
.div3
{
  background-color: DodgerBlue;
}
.div4
{
  background-color: MediumSeaGreen;
}
.div5
{
  background-color: Gray;
}
.div6
{
  background-color: SlateBlue;
}
.div7
{
  background-color: Violet;
}
